@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

@keyframes wiggle {
  0% , 100% {
    transform:rotate(1deg);
  }

  50% {
    transform: rotate(5deg) ; 
  }
}

.wiggle-animation {
animation:  wiggle  0.5s ease-in-out infinite ;
} 